<section>
<form action=".." method="post">
    <div class="imgcontainer">
      <img src="../../assets/images.png" alt="Avatar" class="avatar">
    </div>
  
    <div class="container">
      <label for="username"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" [(ngModel)]="model.username" required />
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" [(ngModel)]="model.password" required />
          
      <button (click)="signIn()" type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"/> Remember me
      </label>
    </div> 
  </form>
</section>  