
<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Category title</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod minima corporis maiores incidunt. Aperiam hic vel provident autem laboriosam reprehenderit minima, debitis inventore fugit placeat dignissimos nemo, itaque quaerat esse?</p>
        <a href="a" class="btn btn-primary">Go somewhere</a>
    </div>
</div>